* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica;
    background-color:#edeef0;
    margin:0;
    padding-bottom:50px;
}
.container {
    max-width:1040px;
    margin:auto;
}
header {
    background-image: linear-gradient(180deg, #2AA4F4 ,#007AD9);
}

header .menu {
    width: 80vw;
    height: 50px;
    margin: auto;   
}

.menu nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
    float: left;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
}

.menu nav a:hover {
	background-color: #1476b8;
    transition: all 0.2s ease;
}
table {
    margin: auto;
}
table tr:hover td {
    cursor: pointer;
    background-color: #6dbcf1;
    color: rgb(12, 12, 12);
}
table td a img {
    display: flex;
    justify-content: center;
}

td img:hover {
    background-color: #fff;
    border-radius: 5px;
}

form {
    max-width:400px;
    margin: auto;
    background-color: #FFF;
    border:1px solid #c9cacc;
    border-radius:10px;
    padding:20px;
    margin-top:50px;
}
form label {
    display: block;
}
form input {
    display: block;
}
form .input {
    height:40px;
    width: 100%;
    outline: 0;
    border:0;
    background-color:#EEE;
    border-radius:10px;
    padding:15px;
    margin-bottom:10px;
}
form .input:focus {
    background-color:#DDD;
}
form .button {
    border:0;
    padding:10px 20px;
    background-image: linear-gradient(180deg, #2AA4F4 ,#007AD9);
    border-radius:10px;
    color:#FFF;
    font-size:15px;
    margin-bottom:10px;
    cursor:pointer;
    box-shadow:0px 0px 3px #999;
}
form .button:hover {
    background-color: #1476b8;
}
form a {
    text-decoration:none;
    color:#4a76a8;
}

.acoes {
    display: flex;
    justify-content: center;
}